html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body{
    line-height: 1;
}
ul{
    list-style: none;
}

body{
    background-color: bisque;
    font-family: monospace;
}
h1{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(33, 86, 231) ;
}
.container{
    width: 750px;
    margin: auto;
    padding: 25px;
    position: relative;
}
.area-computer{
    text-align: center;
    width: 600px;
    height: 250px;
    margin: 5px auto;
    background-color:  rgb(33, 86, 231) ;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 40px 40px 0 0;
}
.area-player{
    text-align: center;
    width: 600px;
    height: 250px;
    margin: 5px auto;
    background-color:  rgb(33, 231, 149) ;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 0 0 40px 40px;
}
.info{
    width: 200px;
    height: 75px;
    position: absolute;
    background-color: aliceblue;
    border-radius: 30px;
    margin-top: -40px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    z-index: 1;
    text-align: center;
    font-size: 46px;
    box-shadow: 0 2px 9px 0 rgba(110, 109, 109, 0.4);
    line-height: 60px;
    color: red;
}
img{
    width: 150px;
    border-radius: 50px;
    border: 5px solid bisque;
    display: block;
    margin: auto;

}
ul{
  padding: 15px;
  margin: auto;
  margin-top: 20px;
}
li{
    display: inline-block;
    margin: 0 10px;
}

.gajah, .orang, .semut{
    transition: .3s;
    position: relative;
    top: 0;
    cursor: pointer;
}
.gajah:hover , .orang:hover, .semut:hover {
    box-shadow: 0 2px 10px 0 rgb(5, 60, 238);
    
}
.gajah:active , .orang:active, .semut:active {
    top: 12px;
    
}